:root {
  --open: "Open Sans", sans-serif;
  --oswald: "Oswald", sans-serif;
  --verde: #117050;
  --branco: #ffffff;
  --cinza: #ffffff94;
}
* {
  box-sizing: border-box;
  font-family: var(--open);
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.animar {
  /* Defina aqui as propriedades que você deseja animar */
  transition: all 1s ease;
}

/* 

HEADER

*/

.header {
  border-top: 0.5rem solid var(--verde);
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
}
.header__menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.432);
  opacity: 0; /* Adicionando a propriedade de opacidade */
  transition: opacity 1s ease; /* Adicionando a transição */
}
.header__menu--inactive {
  opacity: 0;
  pointer-events: none;
}
.header__menu--active {
  opacity: 1;
  pointer-events: auto;
}
.menu__nav {
  width: 15.625rem;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 2rem;
  padding: 2rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.842);
  height: 100vh;
}
.fa-white {
  justify-self: end;
  color: var(--branco);
  cursor: pointer;
}
.menu__anchor {
  text-decoration: none;
  color: var(--branco);
}
.menu__li {
  padding: 0.5rem 0rem;
}
.menu__li:hover {
  border-right: 0.5rem solid var(--branco);
  background-color: var(--cinza);
}
.menu__li::before {
  content: "🠞";
  color: var(--branco);
}
.menu__ul {
  list-style-type: none;
}
.header--container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 71.25rem;
  margin: 0rem 1rem;
}
.header__logo {
  width: 4.375rem;
}
.header__nav {
  align-items: center;
  display: flex;
}
.nav__form {
  align-items: center;
  border: 0.0625rem solid rgb(182, 182, 182);
  display: flex;
  height: 2.25rem;
}
.form__search {
  border: none;
  padding: 0.375rem;
}
.form__button {
  background-color: var(--branco);
  border: none;
  cursor: pointer;
  height: 2.1125rem;
  padding: 0.5rem;
  width: 2.1125rem;
}
.form__loupe {
  height: 100%;
  width: 100%;
}

.nav__menu-hamburguer {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  width: 1.5rem;
  cursor: pointer;
}
.hamburguer__button {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 53.125rem) {
  .header__logo {
    width: 3.375rem;
  }
  .form__search {
    display: none;
  }
  .nav__menu-hamburguer {
    margin-left: 1rem;
  }
  .nav__form {
    border: none;
  }
}

/* 

MAIN BANNER

*/

.banner {
  background-image: url(./../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.banner--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 71.25rem;
  margin: 0rem 1rem;
}
.banner__division-1 {
  justify-content: center;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 4rem;
  padding: 6.25rem 0px;
}
.division-1__imagens {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  justify-content: center;
  column-gap: 3rem;
}
.division-1__imagem {
  width: 10rem;
  height: 10rem;
  border: 0.375rem solid var(--verde);
  border-radius: 5rem;
}
.division-1__content {
  display: grid;
  row-gap: 2rem;
}
.division-1__title {
  font-family: var(--oswald);
  font-size: 6rem;
  line-height: 1.1;
}
@media screen and (max-width: 53.125rem) {
  .division-1__imagens {
    column-gap: 0.5rem;
    display: flex;
    justify-content: center;
  }
  .division-1__imagem {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
  }
  .division-1__title {
    font-size: 3rem;
  }
  .banner__division-1 {
    padding: 3.25rem 0px;
    row-gap: 2rem;
  }
  .banner--container {
    grid-template-columns: 1fr;
  }
}

/* 

SEÇÃO GAGA

*/
.gaga {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 21.6875rem;
}
.gaga__content {
  background-color: var(--branco);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-row: auto;
  justify-self: center;
  margin: 0rem 1rem;
  padding: 3.75rem 0rem;
  width: 60%;
}
.gaga__image-1 {
  background-image: url(./../img/f2.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1;
  grid-row: 2;
}
.gaga__image-2 {
  background-image: url(./../img/f1.jpg);
  background-position: center;
  background-size: cover;
  grid-row: span 2;
  grid-column: 2;
}
.gaga__titulo {
  font-family: var(--oswald);
  font-size: 2.25rem;
}
.gaga__bar {
  width: 10.5rem;
  height: 1.375rem;
  background-color: var(--verde);
}
.gaga__citation {
  font-style: italic;
}
.gaga__paragrafo {
  margin: 1.5rem 0rem;
}
.gaga__botao {
  background-color: var(--branco);
  border: 2px solid #6d6d6d;
  color: #6d6d6d;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  justify-self: start;
}
@media screen and (max-width: 53.125rem) {
  .gaga {
    grid-template-columns: 100%;
    grid-template-rows: auto 21.6875rem 49rem;
  }
  .gaga__image-2 {
    grid-column: 1;
  }
  .gaga__content {
    width: 80%;
  }
}
